.dropBoxO {
  background-color: rgba(255, 255, 255, 0.041);
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.719);
}
.dropBoxA {
  background-color: rgba(255, 255, 255, 0.171);
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.719);
  transition-duration: 0.4s;
}

.dropBoxA,
.dropBoxO {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropBoxO p,
.dropBoxA p {
  margin: 0px;
  margin-top: -5px;
  font-size: 20px;
  font-weight: 600;
}

.dropBoxO:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.171);
  transition-duration: 0.4s;
}
.dropBoxO:active {
  background-color: rgba(255, 255, 255, 0.075);
}

.textpreview {
  background-color: rgba(255, 255, 255, 0.041);
  height: 230px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.719);
}
.textpreview textarea {
  width: 95%;
  height: 91%;
  margin-top: 1%;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  color: #e4e4e4;
}

.buttonContainer button {
  background-color: #ffffffd0;
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 25px;
  border: none;
  border-radius: 10px;
  transition-duration: 0.4s;
  margin: 25px;
}
.buttonContainer button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #bebebe;
}
