.majorContainer {
  background: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "intro logo";
  gap: 5px;
  height: calc(100vh - 60px);
}
.introUploader {
  grid-area: "intro";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoContainer {
  grid-area: "logo";
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/*--------for test--------*/

.intro {
  text-align: left;
  margin-left: 17%;
  margin-top: -40px;
  width: 83%;
}
.intro h1 {
  font-family: "Montserrat";
  font-size: 45px;
  font-weight: bolder;
  line-height: 54px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
}
.intro p {
  margin: 0px;
  font-family: "Montserrat";
  margin-left: 4px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
  color: #ffffffc5;
}
.buttonContainer {
  text-align: left;
  margin-left: 17%;
  margin-top: 50px;
  width: 83%;
}
.buttonContainer button {
  background-color: #ffffff;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 25px;
  padding-right: 37px;
  border: none;
  border-radius: 100px;
}
.buttonContainer button:hover {
  background-color: wheat;
  cursor: pointer;
  transition-duration: 0.4s;
}
.waveCtn {
  width: 100%;
  mix-blend-mode: lighten;
}
