[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pypdf2 = "*"
textract = "*"
certifi = "==2020.12.5"
chardet = "*"
click = "==7.1.2"
dataclasses = "==0.8"
filelock = "==3.0.12"
idna = "==2.10"
joblib = "==1.0.1"
nltk = "==3.6.2"
numpy = "==1.19.5"
pyparsing = "==2.4.7"
regex = "==2021.4.4"
requests = "==2.25.1"
sacremoses = "==0.0.45"
sentencepiece = "==0.1.95"
six = "*"
tokenizers = "0.8.0rc4"
torch = "==1.8.1"
torchvision = "==0.9.1"
tqdm = "==4.60.0"
transformers = "==3.0.0"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.26.4"
wincertstore = "==0.2"
Flask-Cors = "*"
Pillow = "==8.2.0"

[dev-packages]

[requires]
python_version = "3.6"
